/* ###################### ONLINE SHOP - ALLGEMEINES ###################### */
@import '~bootstrap/scss/bootstrap';
@import '~filepond/dist/filepond.css';
@import '~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css';

@font-face {
    font-family: 'Muli Light';
    src: url('../assets/fonts/muli_light.ttf') format('truetype')
}

@font-face {
    font-family: 'Muli Regular';
    src: url('../assets/fonts/muli_regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Muli Bold';
    src: url('../assets/fonts/muli_bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Muli ExtraBold';
    src: url('../assets/fonts/muli_extrabold.ttf') format('truetype')
}

@font-face {
    font-family: 'Beyond The Mountains';
    src: url('../assets/fonts/beyond_the_mountains.ttf') format('truetype')
}

@font-face {
    font-family: 'Futura Bold Italic';
    src: url('../assets/fonts/tt0205m_.ttf') format('truetype')
}

@font-face {
    font-family: 'Numbers';
    src: url('../assets/fonts/numbers.ttf') format('truetype')
}

@font-face {
    font-family: 'Hashtag';
    src: url('../assets/fonts/hashtag.ttf') format('truetype')
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Muli Light', sans-serif;
}

::-moz-selection {
    background: #ffae27;
 }

::selection { 
    background: #ffae27;
}

::-webkit-scrollbar-thumb {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
    background: #262626;
}

::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}

::-webkit-scrollbar {
    background-color: #1a1a1a;
    width: 7px;
}

#msform {
    margin-top: 50px
}

.row {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

textarea.form-control,
input.form-control,
select.custom-select {
    border-color: #e6e6e6;
    border-radius: 12px;
    border-width: 2px;
}

textarea.form-control:focus,
input.form-control:focus,
select.custom-select:focus {
    border-color: #1a1a1a;
    box-shadow: none;
}

textarea.form-control::placeholder,
input.form-control::placeholder {
    color: #a6a6a6;
}

.noPadding {
    padding-left: 0;
    padding-right: 0;
}
/* ###################### ONLINE SHOP - ALLGEMEINES ###################### */

/* ###################### ONLINE SHOP - TAB BUTTONS ###################### */
.next.stepButton,
.previous.stepButton {
    margin-top: 35px;
}

.next.stepButton {
    float: right;
}

.previous.stepButton {
    float: left;
}

#msform .stepButton {
    font-family: 'Muli ExtraBold', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    width: 204px;
    background-color: #1A1A1A;
    border: 1px solid #1A1A1A;
    border-radius: 25px;
    padding: 8px 15px;
}

#msform .stepButton:active span i,
#msform .stepButton:focus span i,
#msform .stepButton:hover span i,
#msform .stepButton:active span,
#msform .stepButton:focus span,
#msform .stepButton:hover span {
    background-image: linear-gradient(to bottom right, #ffae27, #d93548);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stepButton .mobile {
    display: none;
}

.mobile575 {
    display: none;
}

.alert.alert-primary {
    width: 100%;
}

#msform .alert-primary {
    font-family: 'Muli Regular', sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: left;
    padding: 10px 17px;
    margin: 20px auto 0;
    background-color: #d93548;
    border-color: #d93548;
    border-radius: 25px;
}

/* ###################### ONLINE SHOP - TAB BUTTONS ###################### */

/* ###################### ONLINE SHOP - FIELDSET ###################### */
#msform>fieldset.active {
    opacity: 1;
}

#msform>fieldset {
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    border: 0;
    border-radius: 0;
    width: 100%;
    padding-bottom: 20px;
    margin: 0;
}

/* ###################### ONLINE SHOP - FIELDSET ###################### */

/* ###################### ONLINE SHOP - TITEL UND TEXT ###################### */
.form-title {
    background: url(../assets/img/brush.svg) no-repeat;
    background-position: center;
    background-size: 275px 200px;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.form-title h1 {
    font-family: 'Beyond The Mountains', sans-serif;
    font-size: 40px;
    background-image: linear-gradient(to bottom right, #ffae27, #d93548);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 0;
    position: relative;
    top: 7px;
}

.form-text {
    font-family: 'Muli Light', sans-serif;
    font-size: 16px;
    color: #1a1a1a;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 auto 30px auto;
}

/* ###################### ONLINE SHOP - TITEL UND TEXT ###################### */

/* ###################### ONLINE SHOP - PAKETAUSWAHL ###################### */
.cardProdukt {
    position: relative;
    z-index: 999;
}

.cardProdukt img {
    border-radius: 10px;
}

.cardProdukt:focus::after,
.cardProdukt:hover::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: #1a1a1a;
    border-radius: 12px;
}

.produktPreis {
    position: absolute;
    z-index: 3;
    right: 10px;
    top: 10px;
    background-color: #1a1a1a;
    font-family: 'Numbers', sans-serf;
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 0;
    border-radius: 12px;
    padding: 5px 11px 2.2px;
    cursor: pointer;
}

.cardProdukt .card-body {
    flex: 0;
    min-height: 0;
    padding: 0;
}

.cardProdukt .card-text {
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 10px 0;
    background: url(../assets/img/brush2.svg) no-repeat;
    background-position: center;
    background-size: 200px;
}

.cardProdukt .card-text span {
    position: relative;
    top: 2px;
    font-family: 'Beyond The Mountains', sans-serif;
    font-size: 25px;
    background-image: linear-gradient(to bottom right, #ffae27, #d93548);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}

/* ###################### ONLINE SHOP - PAKETAUSWAHL ###################### */

/* ###################### ONLINE SHOP - FARBEN ######################
.colorPicker p { font-family: 'Muli ExtraBold', sans-serif; text-align: left; }
.color-list { list-style: none; padding: 0; }
.color-list li { float: left; margin: 5px;}
.color {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    transition: transform 0.25s;
}
.color:not(.active):hover { cursor: pointer; transform: scale(1.1); }
.color.active { cursor: pointer; transform: scale(1.2); box-shadow: 0 0 0 2px #ffae27;}

li.color:nth-child(1) { background: #000000; } li.color:nth-child(2) { background: #f2f2f2; } li.color:nth-child(3) { background: #c7cccf; }
li.color:nth-child(4) { background: #464644; } li.color:nth-child(5) { background: #002c5b; } li.color:nth-child(6) { background: #3d5eab; }
li.color:nth-child(7) { background: #009ada; } li.color:nth-child(8) { background: #acc6e9; } li.color:nth-child(9) { background: #38307d; }
li.color:nth-child(10) { background: #cb1430; } li.color:nth-child(11) { background: #610021; } li.color:nth-child(12) { background: #d46120; }
li.color:nth-child(13) { background: #ecc2ce; } li.color:nth-child(14) { background: #009c55; } li.color:nth-child(15) { background: #304832; }
li.color:nth-child(16) { background: #6b6e53; } li.color:nth-child(17) { background: #f4c30f; } li.color:nth-child(18) { background: #483a2f; }
###################### ONLINE SHOP - FARBEN ######################

###################### ONLINE SHOP - FARBEN POPOVER ######################
.popover {
    display: none;
    z-index: 2;
    font-family: 'Muli Regular', sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #1a1a1a;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(26, 26, 26, 0.15);
    width: 100px;
    height: 35px;
    top: -45px;
    left: -33px;
    padding: 7px 0;
  }
  .popover:before {
    position: absolute;
    display: block;
    content: '';
    border-top: 6px solid #1a1a1a;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    top: 32px;
    bottom: -7px;
    left: 50%;
    margin-left: -7px;
  }
.popoverFarbe:hover .popover {
    display: block;
    -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
    -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
    -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
  }
###################### ONLINE SHOP - FARBEN POPOVER ###################### */

/* ###################### ONLINE SHOP - SUCHFUNKTION ###################### */
.suchfunktion .form-group { margin-bottom: 15px; }

.suchfunktion .form-group input {
    font-family: "Muli ExtraBold", sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 40px;
    border: 2px solid #e6e6e6;
    border-right: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.suchfunktion .form-group input:nth-child(1) {
    padding: 0 30px;
}

.suchfunktion .form-group input:nth-child(2) {
    padding: 0 20px;
}

.suchfunktion .form-control {
    height: 52px;
    background: #fff;
    color: #1a1a1a;
    font-size: 18px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.suchfunktion .form-group .suche {
    background: #1a1a1a;
    border: 2px solid #1a1a1a;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* ###################### ONLINE SHOP - SUCHFUNKTION ###################### */

/* ###################### ONLINE SHOP - SWITCH ###################### */
.bibliothekUploadWrapper {
    background-color: #f4f4f4;
    border-radius: 50px;
    margin: 0 auto 15px;
}

.hoodieShirtWrapper { 
    background-color: #f4f4f4;
    border-radius: 50px;
    margin: 0 auto 15px;
}

.bibliothekUploadSwitch,
.hoodieShirtSwitch {
    position: relative;
}

.bibliothekUploadSwitch:after,
.hoodieShirtSwitch:after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    background-color: #1a1a1a;
    width: 50%;
    height: 100%;
    border-radius: 50px;
    transition: left cubic-bezier(.88, -.35, .565, 1.35) .4s;
}

.bibliothekUploadSwitch.left:after,
.hoodieShirtSwitch.left:after {
    left: 0;
}

.bibliothekUploadSwitch.right:after,
.hoodieShirtSwitch.right:after {
    left: 50%;
}

.bibliothekUploadSwitch .bibliothekUploadTab,
.hoodieShirtSwitch .hoodieShirtTab {
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Muli ExtraBold', sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 48%;
    padding: 10px;
    cursor: pointer;
    transition: color 200ms;
}

.bibliothekUploadSwitch .bibliothekUploadTab.active,
.hoodieShirtSwitch .hoodieShirtTab.active {
    color: #fff;
}

/* ###################### ONLINE SHOP - SWITCH ###################### */

/* ###################### ONLINE SHOP - VORSCHAU ###################### */
.motivVorschauBild {
    position: relative;
}

.motivVorschauBild canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 250px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.motivVorschau {
    border: 2px solid #f2f2f2;
    border-radius: 12px;
    padding: 20px;
}

.motivVorschauBild .motiv {
    position: absolute;
    z-index: 4;
}

.motivVorschauBild>img {
    border-radius: 12px;
}

.motivVorschauBild .horizontalesMotiv {
    transform: rotate(25deg);
}

/* ###################### ONLINE SHOP - VORSCHAU ###################### */

/* ###################### ONLINE SHOP - TEXTILFARBEN UND TEXT ###################### */
.motivPaketTextilfarbe-text {
    font-family: 'Muli ExtraBold', sans-serif;
    margin: 0 0 10px 3.5px;
}

.motivPaketMotivfarbe-text {
    font-family: 'Muli ExtraBold', sans-serif;
    margin: 25px 0 10px 3.5px;
}

.motivPaketTextarea {
    font-family: 'Muli ExtraBold', sans-serif;
    text-align: left;
    margin: 25px 0 10px 3.5px;
}

.form-control {
    font-family: 'Muli Light', sans-serif;
    font-size: inherit;
}

.motivPaketTextilfarbe-color-list {
    list-style: none;
    padding: 0;
    margin: 0 auto 25px;
}

.motivPaketTextilfarbe-color-list li {
    display: inline-block;
    margin: 3.5px;
}

.motivPaketTextilfarbe-color {
    height: 22px;
    width: 22px;
    border-radius: 100%;
    transition: transform 0.25s;
}

.motivPaketTextilfarbe-color:not(.active):hover {
    cursor: pointer;
    transform: scale(1.1);
}

.motivPaketTextilfarbe-color.active {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0 0 0 2px #ffae27;
}

li.motivPaketTextilfarbe-color:nth-child(1) {
    background: #000000;
}

li.motivPaketTextilfarbe-color:nth-child(2) {
    background: #f2f2f2;
}

li.motivPaketTextilfarbe-color:nth-child(3) {
    background: #c7cccf;
}

li.motivPaketTextilfarbe-color:nth-child(4) {
    background: #464644;
}

li.motivPaketTextilfarbe-color:nth-child(5) {
    background: #002c5b;
}

li.motivPaketTextilfarbe-color:nth-child(6) {
    background: #3d5eab;
}

li.motivPaketTextilfarbe-color:nth-child(7) {
    background: #009ada;
}

li.motivPaketTextilfarbe-color:nth-child(8) {
    background: #acc6e9;
}

li.motivPaketTextilfarbe-color:nth-child(9) {
    background: #38307d;
}

li.motivPaketTextilfarbe-color:nth-child(10) {
    background: #cb1430;
}

li.motivPaketTextilfarbe-color:nth-child(11) {
    background: #610021;
}

li.motivPaketTextilfarbe-color:nth-child(12) {
    background: #d46120;
}

li.motivPaketTextilfarbe-color:nth-child(13) {
    background: #ecc2ce;
}

li.motivPaketTextilfarbe-color:nth-child(14) {
    background: #009c55;
}

li.motivPaketTextilfarbe-color:nth-child(15) {
    background: #304832;
}

li.motivPaketTextilfarbe-color:nth-child(16) {
    background: #6b6e53;
}

li.motivPaketTextilfarbe-color:nth-child(17) {
    background: #f4c30f;
}

li.motivPaketTextilfarbe-color:nth-child(18) {
    background: #483a2f;
}

/* ###################### ONLINE SHOP - TEXTILFARBEN UND TEXT ###################### */

/* ###################### ONLINE SHOP - MOTIVPAKET ###################### */
.bibliothekTab {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 952.5px;
    border: 2px solid #f2f2f2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 10px 0 10px;
}

.motivHochladenTab {
    border: 2px solid #f2f2f2;
    border-radius: 12px;
    padding: 20px 10px;
}

.mPactive:focus::after,
.mPactive:hover::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -2px;
    bottom: 28px;
    left: 13px;
    right: 13px;
    background: #1a1a1a;
    border-radius: 12px;
}

/* ########### CARDFLIP ########### */
.card-container {
    perspective: 1000px;
}

.card-container.flipped .flip-card {
    transform: rotateY(180deg);
}

.card-container,
.front,
.back {
    width: 100%;
    height: 310px;
}

.flip-card {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}
/* ########### CARDFLIP ########### */

.motivPaket {
    position: relative;
    box-sizing: border-box;
    height: 280px;
    width: 100%;
    overflow: hidden;
    margin: 10px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.motivPaketBild {
    max-height: -webkit-fill-available;
    width: 100%;
}

.motivPaket .zentriertesMotiv {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 75%;
    margin: auto;
}

.motivPaket .zentriertesMotivRueckseite {
    top: 10px;
    width: 90%;
    height: 80%;
}

.motivPaket .motiv {
    max-width: 100%;
    max-height: 100%;
}

.motivPaket .motivLink {
    position: absolute;
    z-index: 3;
    top: 7px;
    background-color: transparent;
    font-family: 'Muli ExtraBold', sans-serf;
    font-size: 9px;
    color: #1a1a1a;
    text-transform: uppercase;
    line-height: 15px;
    border: 2px solid #1a1a1a;
    border-radius: 12px;
    padding: 1px 5px;
    cursor: pointer;
}

.motivPaket .motivLink.vorderseite {
    right: 7px
}

.motivPaket .motivLink.rueckseite {
    left: 7px;
}

.motivPaket .motivLink.vorderseite:focus,
.motivPaket .motivLink.vorderseite:hover,
.motivPaket .motivLink.rueckseite:focus,
.motivPaket .motivLink.rueckseite:hover {
    background-color: #1a1a1a;
    color: #fff !important;
    text-decoration: none;
    border: 2px solid transparent;
    transition: all 0.25s;
}

.motivPaket:hover .motivDetails {
    transform: translate(0, 0);
    transition: all 0.4s ease-in;
}

.motivPaket .motivDetails {
    position: absolute;
    z-index: 5;
    box-sizing: border-box;
    bottom: 0;
    transform: translate(0, 100%);
    padding: 10px 15px;
    background-color: #fff;
    text-align: center;
    transition: all 0.4s ease-in;
    border-top: 2px solid #f2f2f2;
    width: 100%;
}

.motivPaket h2 {
    font-family: 'Futura Bold Italic', sans-serif;
    font-size: 16px;
    color: #1a1a1a;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.motivPaketMotivfarbe-color-list {
    list-style: none;
    padding: 0;
    margin: 15px auto 0;
}

.motivPaketMotivfarbe-color-list li {
    display: inline-block;
    margin: 2px;
}

.motivPaketMotivfarbe-color {
    height: 22px;
    width: 22px;
    border-radius: 100%;
    transition: transform 0.25s;
}

.motivPaketMotivfarbe-color:not(.active):hover {
    cursor: pointer;
    transform: scale(1.1);
}

.motivPaketMotivfarbe-color.active {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0 0 0 2px #ffae27;
}

li.motivPaketMotivfarbe-color:nth-child(1) {
    background: #000000;
}

li.motivPaketMotivfarbe-color:nth-child(2) {
    background: #f2f2f2;
}

li.motivPaketMotivfarbe-color:nth-child(3) {
    background: #c7cccf;
}

li.motivPaketMotivfarbe-color:nth-child(4) {
    background: linear-gradient(135deg, #FF0000 50%, #000000 50%);
}

li.motivPaketMotivfarbe-color:nth-child(5) {
    background: conic-gradient(#FF0000 0% 33.33%, #000000 33.33% 67.66%, yellow 33.33% 100%);
}

li.motivPaketMotivfarbe-color:nth-child(6) {
    background: conic-gradient(#FF0000 0% 25%, #000000 25% 50%, blue 25% 75%, #f2f2f2 25% 100%);
}
/* ###################### ONLINE SHOP - MOTIVPAKET ###################### */

/* ###################### ONLINE SHOP - FILEPOND ###################### */
.filepond--root {
    cursor: pointer;
    margin: 0;
}

.filepond--panel-root {
    background-color: transparent;
}

.filepond--panel.filepond--panel-root {
    border-radius: 12px;
    border: 2px dashed #e5e5e5 !important;
}

.filepond--drop-label.filepond--drop-label label {
    font-family: 'Muli Light', sans-serif;
    font-size: 16px;
    color: #1A1A1A;
    padding: 0 20px;
    cursor: pointer;
}

.filepond--label-action {
    font-family: 'Muli ExtraBold', sans-serif;
    text-decoration: none;
}

.filepond--label-action:active,
.filepond--label-action:focus,
.filepond--label-action:hover {
    background-image: linear-gradient(to bottom right, #ffae27, #d93548);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.25s;
}

.filepond--drop-label {
    color: #4c4e53;
}

.filepond--file-info-main,
.filepond--file-status-main,
.filepond--file-info-sub,
.filepond--file-status-sub {
    background-image: linear-gradient(to bottom right, #fff, #fff) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

[data-filepond-item-state*=error] .filepond--item-panel,
[data-filepond-item-state*=invalid] .filepond--item-panel {
    background-color: #d93548;
}

.filepond--item-panel {
    background-color: #1a1a1a;
}

.filepond--drip-blob {
    background-color: #7f8a9a;
}

.filepond--credits { display: none; }
/* ###################### ONLINE SHOP - FILEPOND ###################### */

/* ###################### ONLINE SHOP - INFOTEXT FILEPOND ###################### */
.alert-info {
    font-family: 'Muli Regular', sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: left;
    hyphens: auto;
    padding: 12px 17px;
    margin: 0 auto 20px;
    background-color: #25d366;
    border-color: #25d366;
    border-radius: 12px;
}

.alert-info span {
    font-family: 'Muli ExtraBold', sans-serif;
}

/* ###################### ONLINE SHOP - INFOTEXT FILEPOND ###################### */

/* ###################### ONLINE SHOP - SELECT RADIO CARD ###################### */
.rueckseite .col-md-12.col-lg-6.col-xl-7 {
    padding-left: 0;
}

.namenslisteFormate .col-lg-6:nth-child(2),
.namenslisteFormate .col-lg-6:nth-child(4) {
    padding-right: 0;
}

.rueckseiteVorschau {
    border: 2px solid #f2f2f2;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
}

.rueckseiteVorschauBild .motiv {
    position: absolute;
    z-index: 4;
}

.rueckseiteVorschauBild canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 275px;
    height: 410px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.rueckseiteVorschauBild > img {
    border-radius: 12px;
}

.rueckseiteTextareaContainer {
    border: 2px solid #f2f2f2;
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
}

.rueckseiteTextarea {
    font-family: 'Muli ExtraBold', sans-serif;
    text-align: left;
    margin: 0 0 10px 3.5px;
}

hr {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #d9d9d9;
}

.selected-content {
    text-align: center;
    border: 2px solid #f2f2f2;
    border-radius: 12px;
    background: #fff;
    width: 100%;
    height: 262.5px;
    padding: 15px;
    display: grid;
    grid-gap: 15px;
    place-content: center;
    transition: .3s ease-in-out all;
    cursor: pointer;
}

.selected-content img {
    margin: 0 auto -22px;
    height: 180px;
}

.selected-label {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.selected-label input {
    display: none;
}

.selected-label .inputText {
    position: absolute;
    top: 11px;
    left: 45px;
    font-family: 'Futura Bold Italic', sans-serif;
    font-size: 20px;
    color: #1a1a1a;
    text-transform: uppercase;
    cursor: pointer;
}

.selected-label .icon {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    border: solid 2px #1a1a1a;
    border-radius: 50%;
    transition: .3s ease-in-out all;
    transform: scale(1);
    z-index: 1;
    cursor: pointer;
}

.selected-label .icon:before {
    transition: .2s ease-in-out all;
    transform: scale(2);
}

.selected-label .icon svg {
    position: absolute;
    z-index: 999;
    left: 2px;
    top: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
}

.selected-label input:checked+.icon {
    background: #1a1a1a;
    border-color: #1a1a1a;
    transform: scale(1.2);
}

.selected-label input:checked+.icon:before {
    color: #fff;
    opacity: 1;
    transform: scale(.8);
}

.selected-label input:checked~.selected-content {
    border: solid 2px #1a1a1a;
}
/* ###################### ONLINE SHOP - SELECT RADIO CARD ###################### */

/* ###################### ONLINE SHOP - SELECT RADIO CARD CONTENT ###################### */
.namenslisteTab {
    border: 2px solid #f2f2f2;
    border-radius: 12px;
    padding: 20px 10px;
}

.namenslisteTab .inputAbstand,
.namenslisteTab .textareaAbstand {
    margin-top: 20px;
}

.namenslisteTab.einSpaltig,
.namenslisteTab.dreiSpaltig,
.namenslisteTab.vierSpaltig {
    display: none;
}

.namelistContainer { 
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    overflow: auto;
    resize: both;
    border: 2px solid #e6e6e6;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.namelistContainer .form-control {
    margin-top: 10px;
}

.nameContainer {
    font-family: 'Muli Light', sans-serif;
    margin-top: 15px;
}

.nameContainer li {
    border-bottom: 1px solid #e6e6e6;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    list-style: none;
    padding: 5px 6px 3px;
    margin-bottom: 5px;
    cursor: auto;
}

.nameContainer li .namelistName {

}

.nameContainer li .namelistButtons {
    display: inline-block;
    color: #1a1a1a;
    border: 2px solid #1a1a1a;
    border-radius: 5px;
    line-height: 0;
    padding: 1px 5px;
}

.nameContainer li .namelistButtons:active,
.nameContainer li .namelistButtons:focus,
.nameContainer li .namelistButtons:hover {
    background: #1a1a1a;
    color: #fff;
    border: 2px solid transparent;
    transition: all 0.25s;
}

.nameContainer li .namelistButtons:first-child {
    float: left;
    cursor: move;
}

.nameContainer li .namelistButtons:last-child {
    float: right;
    cursor: pointer;
}

.nameContainer li .namelistButtons svg {
    width: 8px;
}
/* ###################### ONLINE SHOP - SELECT RADIO CARD CONTENT ###################### */

/* ###################### ONLINE SHOP - GRÖßEN ###################### */
.groessenAuswahl .groessenAbstand2 {
    margin-bottom: 20px;
}

.groessenAuswahl .groessenText {
    font-family: 'Muli ExtraBold', sans-serif;
    text-align: left;
}

.groessenAuswahl .groessen {
    font-size: 20px;
    text-align: left;
}

.groessenAuswahl .groessenAngabe {
    text-align: left;
}

/* ###################### ONLINE SHOP - GRÖßEN ###################### */

/* ###################### ONLINE SHOP - INPUT FELD FÜR ANZAHL ###################### */
.input-number {
    outline: none;
    width: 75px;
    text-align: center;
    vertical-align: top;
    padding: 0 12px !important;
}

.input-number,
.input-number-minus,
.input-number-plus {
    font-family: 'Muli Regular', sans-serif !important;
    font-size: 14px !important;
    border: 1px solid #e6e6e6 !important;
    color: #1A1A1A;
    height: 30px;
    user-select: none;
}

.input-number-minus,
.input-number-plus {
    display: inline-block;
    width: 35px;
    line-height: 26px;
    background: #fff;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.input-number-minus:active,
.input-number-plus:active {
    background: #e6e6e6;
}

.input-number-minus {
    border-right: none;
    border-radius: 4px 0 0 4px;
    margin-right: -5px;
}

.input-number-plus {
    border-left: none;
    border-radius: 0 4px 4px 0;
    margin-left: -5px;
}

/* ###################### ONLINE SHOP - INPUT FELD FÜR ANZAHL ###################### */

/* ###################### ONLINE SHOP - MEDIA QUERIES ###################### */
@media (max-width: 1199px) {
    .produktPreis {
        right: 7px;
        top: 7px;
        font-size: 17px;
        padding: 2.8px 9px 2.2px;
    }

    .bibliothekTab {
        height: 832.5px;
    }
    
    .card-container,
    .front,
    .back {
        height: 250px;
    }

    .motivPaket {
        height: 220px;
    }

    .motivVorschauBild canvas {
        width: 200px;
        height: 150px;
    }
}

@media (max-width: 991px) {
    #msform .stepButton {
        font-size: 10px;
        width: 188px;
    }

    .produktPreis {
        right: 5px;
        top: 5px;
        font-size: 15px;
        padding: 2.8px 8px 1.7px;
    }

    .bibliothekTab {
        height: 892.5px;
    }

    .card-container,
    .front,
    .back {
        height: 330px;
    }

    .motivPaket {
        height: 300px;
    }

    .namenslisteFormate .col-md-6.col-lg-3:nth-child(2) {
        padding-right: 0;
    }

    .namenslisteFormate .col-md-6.col-lg-3:nth-child(3) {
        padding-left: 0;
    }

    .namenslisteFormate .col-lg-6 {
        padding-left: 0;
        padding-right: 0;
    }

    .rueckseite .col-md-12.col-lg-6.col-xl-7 {
        padding-left: 15px;
    }

    .motivVorschauBild canvas {
        width: 425px;
        height: 375px;
    }

    .rueckseiteVorschauBild canvas {
        width: 450px;
        height: 700px;
    }
}

@media (max-width: 767px) {
    .form-title {
        background-size: 225px;
    }

    .form-title h1 {
        font-size: 35px;
    }

    #msform fieldset .form-card {
        padding: 20px 5px;
    }

    .cardProdukt { 
        margin-bottom: 30px;
    }

    .product-cards > div:last-child {
        margin-bottom: -30px;
    }

    .produktPreis {
        right: 10px;
        top: 10px;
        font-size: 19px;
        padding: 5px 11px 2.2px;
    }

    .cardProdukt .card-text {
        background-size: 140px;
    }

    .cardProdukt .card-text span {
        font-size: 18px;
    }

    .card-container,
    .front,
    .back {
        height: 290px;
    }

    .motivPaket { 
        height: 260px;
    }

    .groessenAuswahl {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .groessenAuswahl .groessenAbstand {
        margin-bottom: 20px;
    }

    .groessenAuswahl .groessenAngabe {
        text-align: right;
    }

    .stepButton .mobileNone {
        display: none;
    }

    .stepButton .mobile {
        display: block;
    }

    #msform .stepButton {
        font-size: 10px;
        width: 116px;
    }

    .motivVorschau {
        margin-bottom: 50px;
    }

    .bibliothekTab {
        height: 707.5px;
    }

    .namenslisteFormate .col-md-6.col-lg-3 {
        padding-left: 0;
        padding-right: 0;
    }

    input.suche.btn.btn-primary {
        position: absolute;
        top: 0;
        right: 15px;
    }

    .motivVorschauBild canvas {
        width: 325px;
        height: 275px;
    }

    .rueckseiteVorschauBild canvas {
        width: 300px;
        height: 450px;
    }
    
    .suchfunktion .form-group input { 
        border-radius: 50px;
     }
     
     .noPadding {
         padding-left: 15px;
         padding-right: 15px;
     }
}

@media (max-width: 575px) {
    #msform .alert-primary {
        width: 90%;
        margin: 0 5% 20px 5% !important;
    }

    .cardProdukt.noMargin {
        margin-bottom: 0;
    }

    .cardProdukt .card-text {
        background-size: 200px;
    }

    .cardProdukt .card-text span {
        font-size: 25px;
    }

    .alertContainer {
        float: none !important;
    }

    #msform .stepButton {
        font-size: 11px;
        width: 124px;
    }

    .mobileNone575 {
        display: none;
    }

    .mobile575 {
        display: block;
    }

    .mobile575 .next.stepButton,
    .mobile575 .previous.stepButton {
        float: none;
        margin: 20px auto 15px;
    }

    .bibliothekTab {
        height: 850px;
    }

    .rueckseiteVorschauBild canvas {
        width: 310px;
        height: 440px;
    }
}

@media (max-width: 475px) {
    .bibliothekTab {
        border: 0;
        padding: 0;
    }

    .bibliothekUploadWrapper {
        margin-bottom: 35px;
    }

    .card-container,
    .front,
    .back {
        height: 250px;
    }

    .motivPaket {
        height: 220px;
    }

    .motivVorschauBild canvas {
        width: 250px;
        height: 200px;
    }

    .rueckseiteVorschauBild canvas {
        width: 250px;
        height: 350px;
    }
}

@media (max-width: 450px) {
    .rueckseiteVorschauBild canvas {
        width: 230px;
        height: 320px;
    }
}

@media (max-width: 400px) {
    #msform .previous {
        margin-bottom: 5px;
    }

    .motivVorschauBild canvas {
        width: 225px;
        height: 175px;
    }

    .rueckseiteVorschauBild canvas {
        width: 200px;
        height: 300px;
    }
}

@media (max-width: 375px) {
    .rueckseiteVorschauBild canvas {
        width: 180px;
        height: 260px;
    }
}

@media (max-width: 350px) {
    .rueckseiteVorschauBild canvas {
        width: 150px;
        height: 200px;
    }
}
/* ###################### ONLINE SHOP - MEDIA QUERIES ###################### */